@charset "utf-8";
/* CSS Document */
.w1200{ width: 100%; min-width: 1200px; }
.container { width: 1200px; min-width: 1200px; }
body { font-family: "Microsoft Yahei", Helvetica, Arial, sans-serif; }
.put_public{background: none; border: none; outline: none;}
.w1024{ width: 1024px; }
.footer{ background: #e8e9db; line-height: 18px; font-size: 14px; color: #653e1a; }
.main{ height: 497px; padding-top: 109px; background: url('../images/bg_01.jpg') center center no-repeat; }
.div_bottom{ padding-bottom: 7px; width: 382px; margin-left: 549px; background: url('../images/bg_bottom.png') center bottom no-repeat; }
.div_top{ width: 100%; padding: 7px 0 40px; background: url('../images/bg_top.png') center top no-repeat; }
.ul1{ width: 311px; margin: 0 auto; }
.ul1 li{ width: 290px; margin: 24px auto 0; }
.ul1 li.ling{ width: 311px; margin-top: 47px; }
.ul1 li.ling2{ margin-top: 16px; }
.ul1 li a.a1{ font-size: 14px; color: #b2b2b2; line-height: 34px;}
.div_xian{ border-bottom: 1px solid #e4e4e4; }
.div_xian img{ margin-top: 18px; margin-left: 4px; } 
.div_xian.ling{ width: 131px; }
.div_xian.ling img{ margin-left: 9px; margin-top: 7px; }
.put_01{ width: 206px; font-size: 16px; color: #b2b2b2; line-height: 52px; padding:0 28px;}
.put_02{ width: 61px; padding: 0 13px; line-height: 34px; }
.yzm{ top: 0px; margin:0 14px 0 19px; cursor: pointer; }
span.span1{ line-height: 34px; font-size: 12px; color: #3065a7; cursor: pointer; }
.but_01{  width: 311px; height: 42px; background: url('../images/bg_02.png') center center no-repeat; font-size: 20px; color: #fff; }